form {
	width: 25em;
	max-width: 100%;
}

.form-item {
	display: flex;
	flex-direction: column;
}

input {
	height: 1.5em;
}

.form-text {
	height: 5em;
}

#submit {
	padding: .5rem;
	margin-top: 1rem;
}