p {
	font-size: 1.3rem
}

#home {
	display: flex;
}

#job-title {
	color: #48bb78;
}

#title {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#profile {
	height: 100%;
	width: auto;
	max-width: 100%;
}

.imgCircle {
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	width: 30rem;
	z-index: -10;
	margin: 5em; 
}

#light-dark-container {
	position: fixed;
	top: 2rem;
	right: 6rem;
}

@media only screen and (max-width: 1700px) {
	.imgCircle {
		width: 100%;
		height: 100%;
	}
}

@media only screen and (max-width: 1200px) {
	.imgCircle {
		margin: 0;
		position: relative;
	}
}

@media only screen and (max-width: 750px) {
	.imgCircle {
		margin: 0;
		width: 15rem;
		position: relative;
	}

	#home {
		padding-top: 1em;
		flex-direction: column-reverse;
	}
	
	h1 {
		font-size: 2rem;
	}

	#light-dark-container {
		right: 1em;
	}
}

