p {
	font-size: 1.3rem
}

#home {
	display: flex;
}

#job-title {
	color: #48bb78;
}

#intro {
	max-width: 50vw;
}

#title {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#light-dark-container {
	position: fixed;
	top: 2rem;
	right: 6rem;
}


@media only screen and (max-width: 750px) {
	#home {
		padding-top: 1em;
		flex-direction: column-reverse;
	}

	#intro {
		max-width: 80vw;
	}
	
	h1 {
		font-size: 2rem;
	}

	#light-dark-container {
		right: 1em;
		top: 0;
	}
}

